<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--아래 경로를 mapper파일로 바꾸어 줍니다.  -->
<mapper namespace="egovframework.example.sample.service.StockMapper">
  <select id="selectStock" resultType="egovframework.example.sample.vo.StockVO">
          SELECT * FROM stock
        <where>
            <if test="searchType=='code' and keyword != null and keyword !=''">
                AND code like CONCAT('%',#{keyword},'%')
            </if>
            <if test="searchType=='barcode' and keyword != null and keyword !=''">
                AND barcode like CONCAT('%',#{keyword},'%')
            </if>
            <if test="searchType=='partname' and keyword != null and keyword !=''">
                AND partname like CONCAT('%',#{keyword},'%')
            </if>
        </where>
        limit 100
        
    </select>
    
    
</mapper>