<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--아래 경로를 mapper파일로 바꾸어 줍니다.  -->
<mapper namespace="egovframework.example.sample.service.StockMapper">
  <select id="selectStock" resultType="egovframework.example.sample.vo.StockVO">
          SELECT * FROM stock
        <where>
            <if test="searchType=='code' and keyword != null and keyword !=''">
                code like CONCAT('%',#{keyword},'%')
            </if>
            <if test="searchType=='barcode' and keyword != null and keyword !=''">
                barcode like CONCAT('%',#{keyword},'%')
            </if>
            <if test="searchType=='partname' and keyword != null and keyword !=''">
                partname like CONCAT('%',#{keyword},'%')
            </if>
        </where>
        
        	limit #{firstIndex}, #{recordCountPerPage}
       
        
        
    </select>
    
    <!-- 게시글 상세보기 -->
    <select id="selectDetail" parameterType="Integer" resultType="egovframework.example.sample.vo.StockVO">
        SELECT * FROM stock
        WHERE code = #{code}
    </select>
    
     <select id="selectStockList" resultType="egovframework.example.sample.vo.StockVO">
          SELECT * FROM stock
        
        
    </select>
    
    <select id="getBoardListCnt" resultType="Integer">
        SELECT count(*) as listCnt
        FROM stock
        <where>
            <if test="searchType=='code' and keyword != null and keyword !=''">
                code like CONCAT('%',#{keyword},'%')
            </if>
            <if test="searchType=='barcode' and keyword != null and keyword !=''">
                barcode like CONCAT('%',#{keyword},'%')
            </if>
            <if test="searchType=='partname' and keyword != null and keyword !=''">
                partname like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>
    
     <update id="updateStock" parameterType="egovframework.example.sample.vo.StockVO">
        UPDATE stock SET
        box = #{box}, stock = #{stock}
        WHERE code = #{code}
    </update>
	
	<!-- 게시글 삽입 -->
    <insert id="insertStock" parameterType="egovframework.example.sample.vo.StockVO">
        INSERT INTO stock(kind, code, barcode, partname, std, qtybox, box, stock)
        VALUES(#{kind},#{code},#{barcode},#{partname},#{std},#{qtybox},#{box},#{stock})
    </insert>
    
	<!-- 게시글 삭제 -->
    <delete id="deleteStock" parameterType="Integer">
        DELETE FROM stock
        WHERE code = #{code}
    </delete>
</mapper>